<!-- Test Data Institution Dialog -->
<p-dialog
  [header]="
    StringUtils.capitalizeFirstLetter(dialogMode.toLocaleLowerCase()) +
    ' Field Setting'
  "
  [(visible)]="isOpen"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  class="field-setting-dialog"
  (onShow)="onDialogVisible()"
  (onHide)="onClose()"
>
  <div class="field-setting-dialog-container" [formGroup]="formGroup">
    <div class="field-setting-form-container">
      <div class="field-setting-first-form">
        <div class="common-text-field-dialog-container">
          <span class="label-txt-field-sm">Field Id</span>
          <input class="input" pInputText formControlName="fieldId"/>
        </div>
        <div class="common-text-field-dialog-container">
          <span class="label-txt-field-sm">Value</span>
          <input class="input" formControlName="value" pInputText/>
        </div>
      </div>
      <div class="field-setting-first-form">
        <div class="common-text-field-dialog-container">
          <span class="label-txt-field-sm">Expected Value</span>
          <input class="input" formControlName="expectedValue" pInputText/>
        </div>
        <div class="common-text-field-dialog-container">
          <span class="label-txt-field-sm">Value Type</span>
          <input class="input" formControlName="valueType" pInputText/>
        </div>
      </div>
      <div class="field-setting-first-form">
        <div class="common-text-field-dialog-container">
          <span class="label-txt-field-sm">Level</span>
          <input class="input" formControlName="level" pInputText/>
        </div>
        
      </div>
    </div>


    <div class="dialog-button-container">
      <button
        mat-stroked-button
        color="warn"
        class="dialog-button"
        (click)="onClose()"
      >
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        class="dialog-button"
        [disabled]="isValueNotValid()"
        (click)="onSave(formGroup.getRawValue())"
      >
        Save
      </button>
    </div>
  </div>
</p-dialog>
