<div class="test-data-qr-main-container">
  <div class="first-container">
    <p-card class="search-card">
      <div class="search-container" [formGroup]="formGroup">
        <div class="sc-first-row">
          <div class="field">
            <div class="sc-field-container">
              <div class="sc-first-text-field-1">
                <span class="label-txt-field">QR</span>
                <input
                  class="input-sm"
                  pInputText
                  aria-describedby="username-help"
                  formControlName="pan"
                />
              </div>

              <div class="sc-first-text-field-1">
                <span class="label-txt-field">Cardholder Name</span>
                <input
                  class="input-sm"
                  pInputText
                  aria-describedby="username-help"
                  formControlName="cardholderName"
                />
              </div>

              <div class="sc-first-text-field-1">
                <span class="label-txt-field">Issuer</span>
                <p-dropdown
                  class="field-dropdown-sm"
                  [options]="[]"
                  [filter]="true"
                  optionLabel="fiid"
                  formControlName="issuer"
                  filterBy="fiid"
                  appendTo="body"
                  [placeholder]="'Select Field'"
                  [showClear]="true"
                ></p-dropdown>
              </div>
            </div>

            <div class="search-button-container">
              <button
                mat-raised-button
                color="primary"
                class="sc-search-button"
                (click)="onSearchClicked(formGroup.getRawValue())"
              >
                Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </p-card>
  </div>

  <div class="second-container">
    <p-card class="table-card">
      <p-table
        #dt
        [tableStyle]="{ 'min-width': '50rem' }"
        [resizableColumns]="true"
        [value]="qrs"
        selectionMode="single"
        [paginator]="true"
        [exportHeader]="'customExportHeader'"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[15, 25, 50, 100, 250, 500]"
        [scrollable]="true"
        [rows]="15"
        [(selection)]="selectedQr"
        (onRowSelect)="onListClicked()"
        (onRowUnselect)="onListUnClicked()"
        dataKey="id"
        class="test-data-qr-table"
        styleClass="p-datatable-sm p-datatable-gridlines"
      >
        <ng-template pTemplate="caption">
          <div class="header-table">
            <span style="font-size: 0.8rem; padding-left: 1rem">QR Data</span>

            <div class="table-func-container-2">
              <button
                type="button"
                pButton
                pRipple
                icon="bx bx-layer-plus"
                (click)="onClickedAddPan()"
                matTooltip="Add QR"
                [matTooltipPosition]="'below'"
              ></button>
              <button
                type="button"
                pButton
                pRipple
                [disabled]="selectedQr == undefined"
                icon="bx bx-edit"
                (click)="onClickedEditPan()"
                matTooltip="Edit QR"
                [matTooltipPosition]="'below'"
              ></button>
              <button
                type="button"
                pButton
                pRipple
                [disabled]="selectedQr == undefined"
                icon="bx bx-trash-alt"
                (click)="onClickedDeletePan()"
                matTooltip="Delete QR"
                [matTooltipPosition]="'below'"
                class="p-button-danger"
              ></button>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th pResizableColumn>Cardholder Name</th>
            <th pResizableColumn>Issuer</th>
            <th pResizableColumn>Comment</th>
            <th pResizableColumn>External Version</th>
            <th pResizableColumn>Internal Revision</th>
            <th pResizableColumn>ATM Limit Max</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-i="rowIndex">
          <tr [pSelectableRow]="product">
            <td class="row-width">{{ product.cardholderName }}</td>
            <td class="row-width">{{ product.issuer }}</td>
            <td class="row-width">{{ product.comment }}</td>
            <td class="row-width">{{ product.externalVersion }}</td>
            <td class="row-width">{{ product.internalRevision }}</td>
            <td class="row-width">{{ product.atmLimitMax }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr style="">
            <td colspan="7">There is no Terminal.</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>

<ng-template [ngIf]="isLoading">
  <app-overlay-loading [isLoading]="isLoading"></app-overlay-loading>
</ng-template>


<ng-template [ngIf]="visibleQrCodeDialog">
  <!--CRUD Test Data Qr Dialog-->
  <app-test-data-qr-code-dialog
    [isOpen]="visibleQrCodeDialog"
    [itemSelected]="selectedQr"
    (closeSelf)="onCloseListDialog($event)"
    (isLoading)="onLoading($event)"
    [dialogMode]="dialogMode"
  ></app-test-data-qr-code-dialog>
</ng-template>